extends ./layout

block content
    .form
      form(method="POST", action="/registar")
        input(type="hidden", name="_method", value="PUT")
        p
          textarea(name="address", cols='40', rows='2', maxlength='250'  required='' placeholder='Enter public address here...').textarea
        p Right Ascension
          span(style='padding-right: 10px')
            input(type="number", name="RAH", style='width: 50px', required='' value="1")
            span h*
          span(style='padding-right: 10px')
            input(type="number", name="RAM", style='width: 50px', required='' value="1")
            span m*
          span(style='padding-right: 10px')
            input(type="number", name="RASEC", style='width: 50px', required='' value="1")
            span sec*
        p Declination
          span(style='padding-right: 10px')
            input(type="number", name="DecDeg", style='width: 50px', required='' value="1")
            span deg*
          span(style='padding-right: 10px')
            input(type="number", name="DecMin", style='width: 50px', required='' value="1")
            span min*
          span(style='padding-right: 10px')
            input(type="number", name="DecSec", style='width: 50px', required='' value="1")
            span sec*
        p Constellation
          select(name='Conste')
                optgroup(label='Select Constellation')
                    option(value='') Select Constellation
                    option(value='And') Andromeda
                    option(value='Ant') Antlia
                    option(value='Aps') Apus
                    option(value='Aqr') Aquarius
                    option(value='Aql') Aquila
                    option(value='Ara') Ara
                    option(value='Ari') Aries
                    option(value='Aur') Auriga
                    option(value='Boo') Boötes
                    option(value='Cae') Caelum
                    option(value='Cam') Camelopardalis
                    option(value='Cnc') Cancer
                    option(value='CVn') Canes Venatici
                    option(value='CMa') Canis Major
                    option(value='CMi') Canis Minor
                    option(value='Cap') Capricornus
                    option(value='Car') Carina
                    option(value='Cas') Cassiopeia
                    option(value='Cen') Centaurus
                    option(value='Cep') Cepheus
                    option(value='Cet') Cetus
                    option(value='Cha') Chamaeleon
                    option(value='Cir') Circinus
                    option(value='Col') Columba
                    option(value='Com') Coma Berenices
                    option(value='CrA') Corona Austrina
                    option(value='CrB') Corona Borealis
                    option(value='Crv') Corvus
                    option(value='Crt') Crater
                    option(value='Cru') Crux
                    option(value='Cyg') Cygnus
                    option(value='Del') Delphinus
                    option(value='Dor') Dorado
                    option(value='Dra') Draco
                    option(value='Equ') Equuleus
                    option(value='Eri') Eridanus
                    option(value='For') Fornax
                    option(value='Gem') Gemini
                    option(value='Gru') Grus
                    option(value='Her') Hercules
                    option(value='Hor') Horologium
                    option(value='Hya') Hydra
                    option(value='Hyi') Hydrus
                    option(value='Ind') Indus
                    option(value='Lac') Lacerta
                    option(value='Leo') Leo
                    option(value='LMi') Leo&quot;&gt;Minor
                    option(value='Lep') Lepus
                    option(value='Lib') Libra
                    option(value='Lup') Lupus
                    option(value='Lyn') Lynx
                    option(value='Lyr') Lyra
                    option(value='Men') Mensa
                    option(value='Mic') Microscopium
                    option(value='Mon') Monoceros
                    option(value='Mus') Musca
                    option(value='Nor') Norma
                    option(value='Oct') Octans
                    option(value='Oph') Ophiuchus
                    option(value='Ori') Orion
                    option(value='Pav') Pavo
                    option(value='Peg') Pegasus
                    option(value='Per') Perseus
                    option(value='Phe') Phoenix
                    option(value='Pic') Pictor
                    option(value='Psc') Pisces
                    option(value='PsA') Piscis Austrinus
                    option(value='Pup') Puppis
                    option(value='Pyx') Pyxis
                    option(value='Ret') Reticulum
                    option(value='Sge') Sagitta
                    option(value='Sgr') Sagittarius
                    option(value='Sco') Scorpius
                    option(value='Scl') Sculptor
                    option(value='Sct') Scutum
                    option(value='Ser') Serpens
                    option(value='Sex') Sextans
                    option(value='Tau') Taurus
                    option(value='Tel') Telescopium
                    option(value='Tri') Triangulum
                    option(value='TrA') Triangulum Australe
                    option(value='Tuc') Tucana
                    option(value='UMa') Ursa Major
                    option(value='UMi') Ursa Minor
                    option(value='Vel') Vela
                    option(value='Vir') Virgo
                    option(value='Vol') Volans
                    option(value='Vul') Vulpecula
        p Magnitude
          input(type="number", name="MAG", style='width: 50px' value="1")
        p
          textarea(name="Story", cols='40', rows='5', maxlength='250'  required='' placeholder='Enter Story here...').textarea
        p
          input(type="submit").btn