extends ./layout

block content

    .form
        form(method='POST', action='/requestValidation')
            input(type='hidden', name='_method', value='PUT')
            p.form-header Request Validation Message
            p
                textarea(name="address", cols='40', rows='2', maxlength='250'  required='' placeholder='Enter public address here...').textarea
            p
                input(type='submit').btn