extends ./layout

block content

    .form
        form(method='POST', action='/message-signature/validate')
            input(type='hidden', name='_method', value='PUT')
            p.form-header Validate Message
            textarea(name="address", cols='40', rows='2', maxlength='250'  required='' placeholder='Enter public address here...').textarea
            textarea(name="signature", cols='40', rows='2', maxlength='500'  required='' placeholder='Enter message signature here...').textarea
            p
                input(type='submit').btn