extends ./layout

block content
    .form
        form(method='POST', action='/verifyMessage')
            input(type='hidden', name='_method', value='PUT')
            textarea(name="Address", cols='40', rows='2', maxlength='250'  required='' placeholder='Enter public address here...').textarea
            textarea(name="Signature", cols='40', rows='2', maxlength='500'  required='' placeholder='Enter message signature here...').textarea
            p
                input(type='submit').btn